main.overview .card button,
main.artist .card button{
  background-color: #7b1212;
  color: #fff;
}

main.overview .card button:hover,
main.artist .card button:hover{
  cursor: pointer;
}

a div{
  position: relative;
  overflow: hidden;
  border: 15px solid #000;
  background-color: #fff;
  color: #000;
  padding: 2vw;
  box-shadow: 0px 0px 20px #000;
}
/* 
main.detail{
  padding-top: 20vh;
  display: grid;
  grid-template-columns: 35vw 50vw;
  grid-template-rows: auto auto 10vh auto;
  grid-template-areas: 
    "terug  terug"
    "header header"
    "main sideheader"
    "main sidebar";  
    width: 80vw;
    margin: 0px auto;
} */

main.detail .terug{
  grid-area: terug;
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
  width: 10vw;
  font-weight: bold;
  text-align: center;
  opacity: 0.3;
  transition: 0.3s;
}

main.detail .terug:hover{
  opacity: 1;
}

main.detail h1{
  grid-area: header;
}

main.detail h3{
  font-weight: bold;
}

main.detail img{
  width: 100%;
}

main.detail {
  padding: 100px 15px;
}

main.detail p {
  max-width: 500px;
}

main.detail .meta{
  grid-area: sideheader;
}
main.detail .description{
  grid-area: sidebar;
}

main.artist a {
  display: inline-block;
} 


.noResults{
  text-align: center;
}

.noResults h3{
  font-size: 3vw;
}

.noResults a{
  text-decoration: none;
  color: #fff;
}

.loading{
  border: 16px solid #333;
  border-radius: 50%;
  border-top: 16px solid #444;
  width: 100px;
  height: 100px;  
  animation: load 0.8s ease infinite;
}

body.offline{
  margin: 0;
  background-color: #101010;
}

body.offline h1 {
  background: yellow;
  margin-top: 0px;
  text-align: center;
  padding: 15px;
}

@keyframes load{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }  
}

@media only screen and (max-width: 600px) {
  header{
    display: block;
  }
}