<header>
    <a href="/">KunstKijken</a>
    <div class="form">
      <span>
        <form action="/search" method="get">
          <input type="text" name="query" id="query" placeholder="Zoek op kunstenaar" autocomplete="off">
          <input type="submit" value="Zoeken" id="search">
        </form>
      </span>
      </form>
      </div>
  </header>	